
<div class="container">
		<div class="row">
			<main class="col-md-12">
				<br>

				<p> Hello thanks for choosing Klaus as your favorite developer and i hope you enjoyed the assigment.</p>

				<h3>My Cover</h3>

				<p>My education has provided me with a variety of information systems
					knowledge and practical skills; primarily in software development,
					Java development, as well as network design, implementation,
					and administration, information systems security, relational database
					architecture, SQL Server query development, and database management.
					I also have proficient skills with website design, HTML, CSS, Bootstrap
					JavaScript development, Node.js, and Express.js,
					I consider myself to be a results-oriented, dependable, and capable worker;
					who is not easily affected by job stress and will be a strong asset to your
					department and organization in a variety of duties. I am certainly receptive
					to any company training and I am a fast learner in any on-the-job training
					situation if required. One of my key advantages is that I really enjoy working
					as a developer and I will not get tired from working and learning new features.
					In contrast, I will be very excited and ready to accept the hardest challenge
					because, in the end, it will make me a better and much more innovative
					develope</p>
				<br>
				<center>
					<button id="myBtn" /> Go Home
					<script>
						document.getElementById("myBtn").addEventListener("click", myFunction);
						function myFunction() {
							window.location.href = "/";
						}
					</script>
					</button>
				</center>

						</main>
		</div>
	</div>


			