<div class="container">
  <div class="row">
    <main class="col-md-12">

      <br />
      <h1 id="myHeader">404 Route not found</h1>
      <br />
      <a>
        <img
          alt="404"
          src="https://i.giphy.com/media/RJDmEeLNgzgxW/giphy.webp"
          style="border-radius: 70px; "
          width="400"
          height="400"
          class="center"
        />
      </a>
    </main>
  </div>
</div>